
h1 {
    font-size: 30px;      
    margin: 1cm;           
}

h2 {
    font-size: 2em;   
}

.container {
    width: 50%;           
    height: 30vh;          
    padding: 1rem;         
    background-color: lightgray;
}


h1, h2 {
    text-align: center;
    color: darkblue;
}

div p {
    color: green;
}

input[type="text"] {
    border: 2px solid black;
    padding: 10px;
}

a:hover {
    color: red;
}

input[type="text"]:focus {
    background-color: yellow;
}

button:active {
    background-color: orange;
}
